* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: mintcream;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 28px;

        h4 {
            font-weight: 500;
        }

        .l-side {
            display: flex;
            align-items: center;

        }

        .r-side {
            display: flex;
            align-items: center;
            gap: 12px;

            button {
                border: none;
                padding: 12px 18px;
                border-radius: 22px;
                cursor: pointer;
                font-weight: 500;

                a {
                    text-decoration: none;
                    color: black;
                }
            }

            button:nth-child(1) {
                background-color: transparent;
                border: 1px solid;
            }

            button:nth-child(2) {
                background-color: cornflowerblue;
            }
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    header nav .r-side {
        display: flex;
        flex-direction: column;
    }
}