* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: darkblue;
    text-align: center;
    width: 100vw;
}

header nav {
    color: ghostwhite;
    padding-block: 1rem;
}

header nav h2 {
    font-weight: 600;
}

header nav a {
    margin-inline: 12px;
    color: ghostwhite;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    header nav h2 {
        display: inline;
    }

    header nav a {
        display: inline;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header nav a {
        display: block;
    }
}